In [3]:
from price_comparer.prive_pivot_builder import PricePivotBuilder
import pandas as pd
from datetime import datetime

In [4]:
date = datetime.now().strftime("%d_%m_%Y")
print(date)
date_to_do = "14_04_2025"

23_04_2025

In [5]:
cleaned_df = pd.read_excel(f"C:/Users/derkv/OneDrive/Documenten/Brightminds/Webscraper/cleaned_data/cleaned_data_{date_to_do}.xlsx")

In [6]:
pvb = PricePivotBuilder(cleaned_df)
result = pvb.build()

In [7]:
missing_price = pvb.check_missing_prices(result)
missing_price

,title,product_name,pet,brand,size,quantity_package,quantity_package_unit,quantity_ordered,price,sale_price,delivery_info,available,website,category,page_number,product_number,product_link,category_link,error
236,Seresto Hond,hond | seresto | S (< 8 kg) | nan nan,hond,seresto,S (< 8 kg),NaN,NaN,NaN,61.65,NaN,NaN,NaN,medpets,NaN,NaN,NaN,https://www.medpets.nl/seresto-hond?_gl=1*111x...,NaN,NaN

In [8]:
with pd.ExcelWriter(f"C:/Users/derkv/OneDrive/Documenten/Brightminds/Webscraper/result_data/result_{date_to_do}.xlsx", engine='xlsxwriter') as writer:
    result.to_excel(writer, sheet_name='Sheet1', index=False)

    # Access workbook and worksheet
    workbook = writer.book
    worksheet = writer.sheets['Sheet1']

    # Define number format: 2 decimal places
    format_2dec = workbook.add_format({'num_format': '0.00'})

    # Apply format to desired columns (e.g., sale_price and price columns)
    for idx, col in enumerate(result.columns):
        if col.startswith('price') or col.startswith('sale_price'):
            worksheet.set_column(idx, idx, None, format_2dec)